### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
# Compiled class files
*.class

# Log files
*.log

# Package files
*.jar
*.war
*.ear

# Others
*.bak
*.swp
*~.nib
*.tmp
*.xml
*.mf

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store